[submodule "dependencies/venn"]
	path = autoprot/dependencies/venn
	url = https://github.com/tctianchi/pyvenn
	update = rebase
[submodule "dependencies/plotlylogo"]
	path = autoprot/dependencies/plotlylogo
	url = https://github.com/aretaon/PlotlyLogo
	update = rebase
