[submodule "autoprot/dependencies/venn"]
	path = autoprot/dependencies/venn
	url = https://github.com/tctianchi/pyvenn
[submodule "autoprot/dependencies/plotlylogo"]
	path = autoprot/dependencies/plotlylogo
	url = https://github.com/aretaon/PlotlyLogo
